# This will have an error that is non-recoverable

In [15]:
# Note that pandas has been called pf, not pd
# This won't run on future imports
import pandas as pf

df = pd.DataFrame([[1,2,3], [4,5,6]], columns=['A', 'B', 'C'])

In [12]:
df

   A  B  C
0  1  2  3
1  4  5  6

In [13]:
df.describe()

             A        B        C
count  2.00000  2.00000  2.00000
mean   2.50000  3.50000  4.50000
std    2.12132  2.12132  2.12132
min    1.00000  2.00000  3.00000
25%    1.75000  2.75000  3.75000
50%    2.50000  3.50000  4.50000
75%    3.25000  4.25000  5.25000
max    4.00000  5.00000  6.00000

In [14]:
df < 3

       A      B      C
0   True   True  False
1  False  False  False